/* tables */
$border: 1px solid white;
$gradient: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
$bg: #302a32;

table {
  border: $border;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  animation: fadeIn ease 1s;
}

th, td {
  border-bottom: $border;
  border-top: $border;
  padding: .7em;
}

tr:nth-child(even) {background-color: #3e1b3e;}

.tr-th-row {
  background-color: #3e1b3e;
}
.td-view {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    color: #9295b5;
  }
}

/* modals */
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-ctr {

  table {
    background-color: #31293F;
  }
  thead {
    background-color: #3e1b3e;
  }
}

/* Charts */
canvas {
  background-color: #F7E7FB;
  height: 300px;
  width: 90%;
  box-sizing: none;
}

/* search */
.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    margin: auto 0;
  }
  button {
    width: 5em;
    height: 2em;
    border-radius: 3px;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      width: 5.5em;
      height: 2.5em;
    }
  }
}

.search-ctr {
  display: grid;
  grid-template-columns: 7em 12em 7em 11em;
  font-weight: bold;
  padding: 1em;
  gap: 1em;
  border: $border;
  select {
    border-radius: 1em;
    font-style: italic;
    text-align: center;
    width: 13.5em;
    cursor: pointer;
    &:hover {
      background-image: $gradient;
    }
  }
  input {
    border-radius: 1em;
    font-style: italic;
    text-align: center;
    width: 13.3em;
    cursor: pointer;
    &:hover {
      background-image: $gradient;
    }
  }
  button {
    width: 5em;
    height: 2em;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    transition: all 0.5s ease;
    &:hover {
      background-image: $gradient;
    }
  }
}

.search-btn {
  margin: .5em;
  width: 5em;
  height: 2em;
  border-radius: 3px;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    background-image: $gradient;
  }
}

.custom-input {
  height: 1.2em;
  width: 13em;
  cursor: pointer;
  &::placeholder {
    color: black;
  }
}

// .result {
//   width: 100%;
// }