@import './components';

$font-stack: Helvetica, sans-serif;
$primary-color: #D3D9E9;

html {
  background-color: #31293F;
}

button {
  background-color: $primary-color;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
}

.app {
  margin: auto;
  width: 50vw;
  position: relative;
  align-items: center;
}

h1 {
  text-align: center;
}

.home {
  margin: auto;
}

.button-ctr {
  display: flex;
  justify-content: center;
  gap: 1em;
  a:link {
    text-decoration: none;
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      width: 11em;
      height: 11em;
    }
    img {
      width: 5em;
    }
    span {
      font-weight: bold;
    }
  }
}

@keyframes loading{
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.loading {
  margin: auto;
  top: 20vh;
  left: 41vw;
  position:fixed;
  img {
    width: 15em;
    height: 15em;
    animation: loading 5s infinite;
    animation-timing-function: linear;
  }
}

.cal-btn-ctr {
  margin: 1em;
  justify-content: center;
  display: flex;
  gap: 1em;
  button {
    font-weight: bold;
    width: 10em;
    height: 4em;
    border-radius: 1em;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      position: relative;
      width: 11em;
      height: 5em;
    }
  }
}

.alg-ctr {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 2em 2em;
  font-size: 20px;
  button {
    height: 2em;
    width: 8em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    &:hover {
      background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    }
  }
}